/* practice */
.myNavbar-header {
    width: 100%;
    background-color: aqua;
}

.myNavbar-header p {
    font-size: 50px;
}

#phone {
    margin-top: 0;
    width: 150px;
}
#phone p { /* Phone number */
    padding: 20px;
    color: white;
    background-color: purple;
    text-align: center;
}
.p1 {
    width: 150px;
    background-color: brown;
}
